
    <div class="container">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-style: double;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" style="font-size:18px ;">
                <br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Mã số sinh viên: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <%= mssv%>
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Họ và tên: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <%= hoten%>
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Giới tính: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <%= gioitinh%>
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Địa chỉ: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <%= diachi%>
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Ngày sinh: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  
                    <%=ngaysinh.getDate().toString()%>/<%=(ngaysinh.getMonth()+1).toString()%>/<%=ngaysinh.getFullYear().toString()%>
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Số điện thoại: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <%= sodt%>
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Khóa Học: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <%= khoahoc%>
                </div>
                <br><br>
            </div>
            
        </div>
    </div>
    
